@using Software41.BackgroundCheck.Domain

@model IEnumerable<Applicant>
@{
    ViewBag.Title = "Applicants";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section Body {
    <div ng-view>

    </div>
}

@section Scripts {
    <script src="~/app/controllers/applicantController.js"></script>
    <script src="~/app/services/applicantService.js"></script>
}

